.login {
  width: auto;
  left: 50%;
  top: 40%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.loginregister {
  position: relative;
  margin-bottom: 15px;
}

.loginregister h6 {
  padding: 0 16px;
}

.loginregister h6 a {
  transition: all 0.5s;
}

.loginregister h6 a:hover {
  color: blue;
}

input {
  border: black 2px solid;
  transition: box-shadow 0.5s;
}

input:focus {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

input[type="submit"] {
  border: none;
  width: auto;
  padding: 5px 20px;
  cursor: pointer;
}

input[type="submit"]:focus {
  outline: none;
}

.vl {
  border-left: black 1px solid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90%;
}
