.login {
  width: 60%;

  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.loginregister {
  display: flex;
  position: relative;
  margin-bottom: 15px;
}

input {
  border: black 2px solid;
  transition: box-shadow 0.5s;
}

input:focus {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

input[type="submit"] {
  border: none;
  width: 20%;
  padding: 5px;
  cursor: pointer;
}

input[type="submit"]:focus {
  outline: none;
}

.vl {
  border-left: black 1px solid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90%;
}

.adminloginbutton {
  position: absolute;
  right: 5px;
  top: 5px;
  transition: background-color 0.2s, color 0.2s;
}
/* navbar */
.nav-con {
  width: 98%;
  position: fixed;

  left: 50%;
  top: 10px;
  transform: translateX(-50%);
  margin: 0 auto;
  z-index: 99;
  box-sizing: unset;
}

nav {
  background-color: white;
  overflow: hidden;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}
nav ul {
  padding: 0;
  margin: 0 0 0 150px;
  list-style: none;
}
nav li {
  float: right;
}

.logo {
  position: absolute;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  border-radius: 5px;
}

.logo:hover {
  background-color: gray;
  border-radius: 5px;
  transition: 0.5s;
}

nav a {
  width: 115px;
  display: block;
  padding: 15px 10px;
  font-size: 14pt;
  text-decoration: none;
  font-family: Arial;
  color: black;

  text-align: center;
  border-radius: 5px;
}
.active {
  text-decoration: underline;
}
nav a:hover {
  background-color: grey;
  color: white;
  transition: 0.5s;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
/* navbar */
