@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

#dinein-con {
  z-index: 99;
  background-color: rgb(0, 0, 0, 0.5);
  display: block;
  height: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  transition: all 0.2s;
}

.dinein {
  position: fixed;
  width: 60%;
  height: auto;
  background-color: white;
  opacity: 0;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dinein h1 {
  padding: 0 10px;
  margin: 20px 0;
  text-align: center;
}

.opacityto1 {
  opacity: 1;
  transition: all 0.5s;
}

.gotobuttom {
  bottom: -50%;
  transition: all 0.5s;
}

.dinein-btn {
  display: flex;
}

.dinein-btn button {
  width: 50%;
  height: 250px;
  margin: 30px;
  font-size: xx-large;
  cursor: pointer;
  border: 0px;
  outline: none;
  border-radius: 10px;
}

.dinein-btn button:hover {
  border: black 5px solid;
}

/* menu */
.menu-wrapper {
  padding-bottom: 80px;
}

.menu {
  position: relative;
  z-index: auto;
  opacity: 0;
  visibility: hidden;
  display: none;
  width: 95%;
  margin: 0 auto;
  background-color: white;
  transition: all 0.5s;
  border-radius: 10px;
}

.menu-title {
  padding: 10px 30px;
  font-size: 40pt;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

/* food menu */
.food-menu-con {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  transition: all 0.5s;
  /* border: black 1px solid; */
}

.food-con-wrapper {
  position: relative;
  width: 25%;
  height: 400px;
  margin: 0;
  /* border: black 1px dashed; */
  overflow: hidden;
}

.food-con {
  display: block;
  position: absolute;
  height: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: 15px;
  border-radius: 5px;
  /* border: red 1px dotted; */
}

.btn-addtocart {
  display: block;
  position: absolute;
  height: auto;
  bottom: 0;
  left: 50%;
  width: 80%;
  transform: translateX(-50%);
  margin-bottom: 10px;

  background-color: orange;
  border-radius: 5px;
  border: 0;
  font-size: 16pt;

  transition: all 0.3s;
  cursor: pointer;
}

.btn-addtocart:hover {
  background-color: darkorange;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.food-con-wrapper img {
  display: block;
  width: 50%;
  margin: 10px auto;
}

.food-title {
  font-size: 12pt;
  font-weight: bold;
  margin: 0 auto;
  padding: 0 10px;
}

.food-desc {
  font-size: 12pt;
  padding: 0 10px;
}
/* beverage menu */
.beve-menu-con {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  height: auto;

  opacity: 0;
  visibility: hidden;
  display: none;
  transition: all 0.5s;
  /* border: black 1px solid; */
}

/* select beverage button */
#select-beve {
  position: absolute;
  padding: 5px 20px;
  right: 30px;
  top: 30px;
  background-color: blue;
  border-radius: 5px;
  border: 0;
  font-size: 16pt;
  color: white;
  cursor: pointer;

  transition: all 0.2s;
}

#select-beve:hover {
  background-color: blueviolet;
  font-size: 18pt;
}
